{% load static %}
<div class="row-imagesection main-container container-fluid col-sm-12 col-12">
           <hr/> <div class="row">

            <div class="Imagesection col-sm-6 col-12">
                <img class="ImageSection" alt="images/mainlogo.jpg not found" src="{% static 'images/mainlogo.jpg' %}"/>
            </div>

            <div class="Textsection col-sm-6 col-12">
            <hr/>
                <div class="textdata">

                    <h1>"An investment in knowledge pays the best interest." </h1>

                <br/>
                <br/>

                <h6 style="font-size:24px; padding-right:6rem;"> Arjun Aravind </h6>

                </div>
                <hr/>

            </div>
            <hr/>
            </div>
        </div>