{% load static %}
<!doctype html>
<html>
<head>
    <style>
        .nav{
            display:flux !important;
            justify-content: space-between !important;
            }
        .logoimage {
            width: 80px !important;
            margin-right: 170px !important;
            }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'Header.css' %}">
    <link rel="stylesheet" href="{% static 'Imagesection.css' %}">
    <link rel="stylesheet" href="{% static 'Whychooseus.css' %}">
    <link rel="stylesheet" href="{% static 'Slider.css' %}">
    <link rel="stylesheet" href="{% static 'Footer.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Home | Guruvi - Complete educational website</title></head>
<body>
<div class="container-fluid">

{% include 'Header.html' %}



{% include 'Imagesection.html' %}


{% include 'Whychooseus.html' %}


{% include 'Slider.html' %}


{% include 'Footer.html' %}



</div>
</body>
</html>