{% load static %}
<h1 class="choosetext">COURCES ENROLLED</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
            </div>
        <hr/>
        </div>









<h1 class="choosetexts">PLACEMENT GUARENTEED COURCES</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>


            </div>
        <hr/>
        </div>





<h1 class="choosetexts">All COURSES</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>


            </div>
        <hr/>
        </div>







<h1 class="choosetexts">MY CERTIFICATIONS</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>


            </div>
        <hr/>
        </div>





<h1 class="choosetexts">CERTIFICATES</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>


            </div>
        <hr/>
        </div>


<h1 class="choosetexts">JOBS AND INTERNSHIPS</h1>
 <div class="container containerslider">

            <div class="rows">
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'images/react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'python.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">Python Full-stack</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>
                <div class="xcard col-md-3 col-xs-6">
                    <img class="imagecourse" src="{% static 'react.png' %}" alt="dsfs"/>

                    <h2 class="textcourse">React Js</h2>
                </div>


            </div>
        <hr/>
        </div>