{% load static %}

 <div class="container">
            <h1>WHY CHOOSE US?</h1>
            <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 ">
                    <div class="card">
                        <div class="card-body">
                        <img class="ImageSectionx" alt="images/mainlogo.jpg not found" src="{% static 'images/seccond.png' %}"/>

                            <h5 class="card-title">Professional Training</h5>
                            <p class="card-text">One-to-one mentorship from Experts.</p>
                            <a href="http://googlr.com" class="btn btn-primary">Professional <br/> Training</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                        <img class="ImageSectionx" alt="images/mainlogo.jpg not found" src="{% static 'images/first.png' %}"/>

                            <h5 class="card-title">Gain work-experience</h5>
                            <p class="card-text">Challenge and Task-based learning.</p>

                            <a href="http://googlr.com" class="btn btn-primary">Gain work <br/> experience</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                        <img class="ImageSectionx" alt="images/mainlogo.jpg not found" src="{% static 'images/seccond.png' %}"/>

                            <h5 class="card-title">Great Career</h5>
                            <p class="card-text">100% Life-long Placement Assistance.</p>
                            <a href="http://googlr.com" class="btn btn-primary">Great <br/> Career</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                        <img class="ImageSectionx" alt="images/mainlogo.jpg not found" src="{% static 'images/first.png' %}"/>

                            <h5 class="card-title">Quality Classes</h5>
                            <p class="card-text">we provide Quality class and materials.</p>
                            <a href="http://googlr.com" class="btn btn-primary">Quality <br/> Classes</a>
                        </div>
                    </div>
                </div>
</div>

            </div>

        </div>